<!--Abubakir Myrzaly, student ID: 300931945, Date: 4/2/2019-->

<div class="container">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Home
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="assets/images/me.jpeg" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About me:</h2>
        <p>My name is Abubakir Myrzaly. I am currently a software engineering technology student at Centennial College(Expected graduation by April 2019).</p>
        <p>During my studies at Centennial College, I have done 2 work terms at CIBC (Canadian Imperial Bank of Commerce) as a Test Analyst, where my daily rooting was managing projects such as VDI (Virtual Desktop Infrastructure) and supporting the environment for testing.</p>
        <p>I also have leadership experience. For examle, during my studies at Centennial College, my friends and I found a club that later was called "Diverse Drive", where I was having a Vice-President position. Our goal was to help new coming students from a different background to adapt to the Canadian system.</p>

        <h5>Mission statement</h5>
        <p>Developes, creates, and improves the world that maximizes digital creativity and innovation</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- 3 social -->
    <h2>Social media</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="assets/images/Instagram.png" alt="Instagram">
          <div class="card-body">
            <h4 class="card-title">Instagram</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.instagram.com/pa.pa.sita/">https://www.instagram.com/</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="assets/images/Facebook.png" alt="Facebook">
          <div class="card-body">
            <h4 class="card-title">Facebook</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.facebook.com/profile.php?id=100002112147959">https://www.facebook.com/</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="assets/images/LinkedIn.png" alt="">
          <div class="card-body">
            <h4 class="card-title">LinkedIn</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.linkedin.com/in/abubakir-myrzaly-449195124/">https://www.linkedin.com/</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
