<!--Abubakir Myrzaly, student ID: 300931945, Date: 4/2/2019-->

<div class="container">

    <h1 class="my-4">Welcome to Abubakir Myrzaly Page</h1>
    <img class="img-fluid rounded mb-2" src="assets/images/me-present.jpeg" alt="image of me" height="50px">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">About me</h4>
                  <div class="card-body">
                    <p class="card-text">I am detail-oriented individual with skills in utilizing a variety of platforms; effective communication skills to explain complex software issues to customers and clients. Skills in object-oriented software design, user-oriented interface design, algorithm concepts, and data management tools. <br>
                      <h5>SUMMARY OF QUALIFICATIONS</h5>
                        •	Great knowledge of monitoring projects, developing relationships and coordinating. <br>
                        •	Proficient in Microsoft applications such as Microsoft Project, PowerPoint, and Excel. <br>
                        •	A self-motivated person, highly capable of quickly learning new skills. <br>
                        •	Exemplary problem-solving skills; able to identify problems and implement corrective processes. Tolerant and flexible adjusts to different situations. <br>
                        •	Capable of working with people of all ages, races, and ethnicities.<br>
                        •	Able to work with different version controls such as Git or GitHub.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Education</h4>
                  <div class="card-body">
                    <p class="card-text"><h5>Centennial College ( Software Engineering Technology Co-op Advanced Diploma 
                        (in-progress))</h5> <br>
                        Toronto, ON, Canada (Jan 2017 – present)<br>
                        Expected Date of Graduation: April 2019<br>
                        Relevant Courses Include: Software Testing, Software Security, IT Project Management, Advance Database Concepts, Java Programming, Web Application, Mobile Application
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Experience</h4>
                  <div class="card-body">
                    <p class="card-text"><h5>CIBC (Canadian Imperial Bank of Commerce)</h5><br>
                        Toronto, ON, Canada (Jan 2018 – Aug 2018)<br>
                        •	Managed VDI (Virtual Desktop Infrastructure) project that included switching over 180 machines from physical to virtual machines and troubleshooted as required<br>
                        •	Supported different teams at CIBC, organized weekly team meetings and collaborated with the project manager for project schedules<br>
                        •	Developed test cases, scenarios and scripts to ensure quality application<br>
                        •	Daily managed and supported testing environments such as a health check, and resolved technical issues if needed<br>
                        •	On the daily basis maintain around 15 tickets from ServiceNow
                  </div>
                </div>
              </div>
        </div>


</div>
