<!--Abubakir Myrzaly, student ID: 300931945, Date: 4/2/2019-->
          <!-- Portfolio Section -->
          <h2>Portfolio Heading</h2>
    
          <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="assets/images/project1.1.jpeg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    Project One
                  </h4>
                  <p class="card-text">The basically representative the game "Flappy Bird" that was recreated by me, except was added background sound in the main menu and during the game and a little bit different design of the game but the same idea and functions of "Flappy Bird".</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="assets/images/project2.jpeg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    Project Two
                  </h4>
                  <p class="card-text">The mobile application that uses the database. The login page has two types of login (student and admin), where a student can review and edit his/her information about their account while admin able to create accounts, view, delete and update them..</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="assets/images/project3.jpeg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    Project Three
                  </h4>
                  <p class="card-text">This mobile application uses Google API, so user able to see the location of the shops and the detailed information which is provided in the description of each store.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
