<!--Abubakir Myrzaly, student ID: 300931945, Date: 4/2/2019-->
<!-- 3 social -->
<h2>Services</h2>

<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="assets/images/asp.png" alt="asp">
      <div class="card-body">
        <h4 class="card-title">ASP.NET</h4>
        <p class="card-text">I have done a couple of projects using ASP.NET and ASP.NET MVC. while taking Asp.net course at Centennial College.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="assets/images/c.png" alt="c#">
      <div class="card-body">
        <h4 class="card-title">C#</h4>
        <p class="card-text">Very familiar with C#, have a good knowledge and experience using this programming language.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="assets/images/javascript.png" alt="javascript">
      <div class="card-body">
        <h4 class="card-title">JavaScript</h4>
        <p class="card-text">Used to be a JavaScript coder for one of the projects, also took a couple of courses on how to use JavaScript.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="assets/images/java.jpeg" alt="Java">
      <div class="card-body">
        <h4 class="card-title">Java</h4>
        <p class="card-text">Great knowledge Java, familier with also Java Platform, Standard Edition (Java SE) and Java Platform, Enterprise Edition (Java EE).</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="assets/images/csshtml.jpg" alt="html">
      <div class="card-body">
        <h4 class="card-title">HTML&CSS</h4>
        <p class="card-text">Able to use HTML&CSS and combining with different programming languages.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="assets/images/photoshop-lightroom.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Photoshop&Lightroom</h4>
        <p class="card-text">Great knowledge using Photoshop and Lightroom and real life. Also, familiar with different Adobe products such as Adobe Premiere Pro, Abode Illustrator.</p>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
